ol {
    background-color: yellow;
}

.par {
    color: green;
}

.impar {
    text-transform: uppercase;
}

h1, h2, h3 {
    color: red;
}

h1.italico {
    font-size: 40px;
    border: 1px solid black;
}

ol em {
    font-size: 20px;
    font-weight: bold;
}

ul li.azul {
    color: blue;
}

ul li#java {
    background-color: pink;
}

ul li a:hover {
    font-weight: bold;
}

ul li a#stack:hover {
    color: orange;
}

ul li a#W3:hover {
    color: greenyellow;
}

ul li a#MDN:hover {
    color: black;
}

ul li a#DevDocs:hover {
    color: yellow;
}

ul li a#Trybe:hover {
    color: green;
}