.super-mario {
    width: 200px;
    position: absolute;
    top: 150px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 500px;
  }
  
  .baloon {
    position: absolute;
    top: 700px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 900px;
    left: 290px;
  }

  .speach {
    top: 740px;
    z-index: 2;
    left: 35px;
  }